* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


/* all section */
section {
    width: 100%;
    height: 100vh;
}

/* style the header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    margin: 10px 20px; 
    padding: 0 30px; 
    height: 70px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 1000;
    top: 0;
    position: fixed;
    width: calc(100% - 40px); 
}

/* Style the logo */
.logo img {
    margin: 20px;
    width: auto;
    height: 40px;
}

/* Style the navigation bar */
.navbar {
    display: flex;
}

/* Style the navigation links */
.navbar a {
    color: #000;
    font-size: 1rem;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 20px;
}
/* Hover effect on navigation links */
.navbar a:hover {
    color: #d3e600;
    transition: 0.2s;
    font-weight: 500;
}
/* button link */
.dftr {
    background: linear-gradient(to right, #ef9d04, #ffd900);
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    font-size: 17px;
    color: #ffff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
/* hover effect no button link*/
.dftr:hover{
    transform: scale(0.9);
}

/* start home */
#home {
    width: 100%;
    height: 100vh;
    margin-top: 3rem;
}
#home p {
    opacity: 1;
    transform: none;
    text-align: center;
    padding-top: 250px;
    font-size: 2.50rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: #222121;    
}
#home span {
    background: -webkit-linear-gradient( #ffd900, #ef9d04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* end home */

/* start support */
.anms {
    width: 100%;
    height: 150px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.jdll {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.jdll p {
    font-weight: 400;
    color: #222121;
    font: 10px;
    margin: 5px 10px;
}
.jdll img {
    width: auto;
    height: 15px;
}
.support-by img {
    width: auto;
    height: 70px;
    margin: 10px 250px;
}
.support-by {
    white-space: nowrap;
    display: flex;
    position: relative;
    animation: scroll-right 10s linear infinite;
}

@keyframes scroll-right {
    from {
      left: 100%;
    }
    to {
      left: -100%;
    }
  }
/* end support */


/* start about */
#about {
    padding-top: 100px;
    background-color: #ffffff;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    padding: 50px 50px;
}

.about-text strong {
    color: #c5840b;
    font-weight: 600;
}

.about-text h1{
    margin: 15px 0px;
    color: #343030;
    font-size: 2.5rem;
}

.about-text p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #4b4b4b;
}

.countdown {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px 5px;
}
.countdown img {
    margin-left: 10px;
    animation: igs 3s linear infinite;
}

@keyframes igs {
    0% {
        width: auto;
        height: 10px;
    }
    25% {
        width: auto;
        height: 12px;
    }
    50% {
        width: auto;
        height: 15px;
    }
    75% {
        width: auto;
        height: 17px;
    }
    100% {
        width: auto;
        height: 20px;
    }
}

.countdown-item {
    width: 40px;
    height: 60px;
    background-color: rgb(233, 224, 224);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;  
}
.countdown-number {
    padding-top: 14px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6c6161;
} 
.about-text button {
    border: 0;
    border-radius: 50px;
    color: #ffff;
    font-size: 17px;
    font-weight: 500;
    width: 230px;
    height: 50px;
    background: linear-gradient(to right, #ef9d04, #ffd900);
}
.about-img img{
    max-width: 100%;
    width: 800px;
    height: auto;
}

/* end about */

/* start skema */

#skema {
    background-color: #ffffff;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skema span {
    color: #c5840b;
}
#skema h1 {
    font-size: 40px;
    color: #424242;
    margin: 10px;
}

#skema .dsc {
    font-weight: 300;
    font-size: 17px;
    color: #464646;
    margin-bottom: 50px;
}

#skema .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 280px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
}
.ktk {
    text-align: left;
    width: 340px;
    height: 260px;
    border-radius: 15px;
    background-color: transparent;
    transition: 0.5s;
}
.ktk:hover {
    background-color: #ffff;
    transform: translateY(-3px);
    box-shadow: 0px 10px 13px 0px rgb(0 0 0 / 50%);

}
.ktk img {
    width: auto;
    height: 80px;
    margin: 20px;
}
.ktk h4 {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #343434;
}
.ktk p {
    margin-left: 10px;
    color: #3b3b3b;
    font-weight: 200;
}
.ktk button {
    font-size: 15px;
    background-color: #d0d0d0;
    color: #000;
    margin: 15px;
    border: 0;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    transition: 0.1s;
}
.ktk button:hover {
    background: rgb(207, 134, 0);
    color: #fff;
}

/* end skema */


/* start lomba */
#lmb {
    background-color: #ffffff;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lmb span {
    color: #c5840b;
}
#lmb h1 {
    font-size: 40px;
    color: #424242;
    margin: 10px;
}

#lmb .dsc {
    font-weight: 300;
    font-size: 17px;
    color: #464646;
    margin-bottom: 50px;
}

#lmb .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 300px;
    background-color: transparent;
}
.box {
    margin: 5px;
    text-align: left;
    width: 340px;
    height: 300px;
    border-radius: 20px;
    background-color: #ffffff;
    transition: 0.5s;
    box-shadow: 0.6px 1px 1px 0px #e6e5e5;
}

.box:hover {
    box-shadow: 0.6px 3px 1px 0px #a2a0a0;
}
.box img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.box h3 {
    margin-left: 10px;
    color: #464646;
}
.box p {
    margin-left: 10px;
    color: #3b3b3b;
    font-weight: 400;
}
.box .atribut {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.atribut .a {
    display: flex;
    margin-left: 10px;
}
.atribut .a img {
    width: auto;
    height: 25px;
}
.atribut .a p {
    font-size: 15px;
    color: #424242;
}
.atribut button {
    width: 80px;
    height: 30px;
    color: #f7fffd;
    border: 0;
    background: linear-gradient(to right, #ef9d04, #ffd900);
    border-radius: 20px;
    margin-right: 10px;
    transition: 0.3s;
}
.atribut button:hover {
    transform: scale(0.9);
}
/* end lomba */


#time {
    background-color: #0066ff;
}

/* start FAQ */
#faq {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#faq h1 {
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 400;
    color: #4b4b4b;
    margin-bottom: 50px;
}
.cont {
    margin: 10px;
    width: 800px;
    height: 50px;
    background-color: transparent;
    border: 0.5px solid #e3d7d7;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont .isi {
    margin-left: 10px;
    font-weight: 600;
    font-size: 13px;
    color: #000;
}
.cont img {
    margin-right: 10px;
    width: auto;
    height: 10px;
}

/* end FAQ */

/* start partner */
.partner {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    text-align: center;
}
.partner h1 {
    color: #c1aeae;
}
.partner .container {
    background-color: transparent;
    margin: 50px 220px 200px 220px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, auto));
    grid-gap: 3rem;
    align-items: center;
}
.partner .container img{
    align-items: center;
    width: 60px;
    height: auto;
}
/* end partner */

/* start footer */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(46, 48, 63);
    height: 500px;
}

.logo {
    align-items: center;
    display: flex;
    margin: 20px 0px;
}
.logo .img {
    margin: 0px 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
}
.logo .a img {
    width: auto;
    height: 30px;
    margin: 20px 20px;
}
.logo .b img {
    width: auto;
    height: 30px;
    margin: 20px 18px;
}
.logo .c img {
    width: auto;
    height: 23px;
    margin: 23px 8px;
}
p {
    margin: 7px 0px;
    font-weight: 500;
    color: #d3d3d3;
}

ul {
    display: flex;
    margin: 30px 0px;
}

ul a {
    color: #bcb9b9;
    font-size: 2rem;
    padding: 0px 25px;
    font-weight: 200;
    font-size: 20px;
}

ul a:hover {
    color: #7b7b78;
    transition: 0.2s;
}
.hr {
    width: 85%;
    height: 0.5px;
    background-color: #b4b5b5;
    margin: 20px;
}
.brand img{
    margin: 40px 20px;
    width: auto;
    height: 40px;
    cursor: pointer;
}
#ftrr {
    margin-top: 20px;
    color: #a3a3a3;
}
/* end footer */